@page "/error"

    <div class="page_error">
        <div class="error-content">
            <div class="text-center">
                <h1 class="text-center ">Error</h1>
                <div class="error_bg">
                </div>
                <div class="content_box_404">
                    <h3 class="h2">
                        Look like something went wrong
                    </h3>
                    <p>An error has occured</p>
                    <a href="/" class="link_home">Home</a>
                </div>
            </div>
        </div>
    </div>