@page "/"

<PageTitle>Queueomatic</PageTitle>
<NavMenu/>


<div class="room-input-group d-flex justify-content-center">
    <input placeholder="Enter a room id" type="text" id="input-field">

    <button class="submit-button"><span>JOIN</span></button>
</div>