.room-input-group {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    height: 3.5rem;
    font-family: "Moonrising"
}

.submit-button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
    background: #2E2E2E;
    border-radius: 0 10px 10px 0;
    transition: 0.3s;
}

.submit-button:hover {
    transition: 0.3s;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    cursor: pointer;
}

.submit-button:active {
    transform: translate(0em, 0.2em);
}

.submit-button span {
    font-weight: 800;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
    font-family: "Moonrising"
}

.submit-button:hover span {
    background: #2E2E2E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

#input-field {
    background-color: #2E2E2E;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 8px;
    color: white;
    font-size: 1.5rem;
    font-family: "Moonrising";
    text-align: center
}

::placeholder {
    color: rgb(184, 184, 184);
    font-family: "Moonrising";
    text-align: center
}

.main-header {
    font-family: "Moonrising";
    font-size: 2.5rem
}

.main {
    margin-top: 10rem
}

@media screen and (max-width: 480px) {
    #input-field {
        max-width: 10rem;
    }
}

.info-card {
    width: 20em;
    height: 25em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}

.info-card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.info-card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin: 1em;
}

.info-card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 15px;
    box-shadow: 0 0 15px;
    padding: 15px 10px;
    border-radius: 5em;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px;
    box-shadow: 0 0 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.social-button:hover {
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 6px 3px;
    box-shadow: 0 0 6px 3px;
}

.social-buttons svg {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 20px;
}

.github {
    background-color: #333;
}

.github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
}

.github:hover svg {
    fill: #333;
}

.container > .info-card {
    margin-top: 15rem;
}