@page "/room/{RoomId}"
@page "/room/{RoomId}/{ParticipantName}"
@using Queueomatic.Shared.DTOs
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Room</h3>


<div class="container">
    <div class="row py-4">
        <div class="col">
            <p>Idling</p>
            <Dropzone Items="IdlingParticipants" TItem="string" Accepts="(s, s1) => s1 == null" AllowsDrag="s => CanMove(s)" OnItemDrop="@((i)=> UpdateUser(i, StatusDto.Idling ))" Class="plk-dd-dropzone h-100">
                <ChildContent>
                    <div class="card" style="border-left: 3px solid black">
                        <div class="card-body">
                            <h6>@context</h6>
                            <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                        </div>
                    </div>
                </ChildContent>
            </Dropzone>
        </div>
        <div class="col">
            <p>Waiting for help</p>
            <Dropzone Items="WaitingParticipants" TItem="string" Accepts="(s, s1) => s1 == null" AllowsDrag="s => CanMove(s)" OnItemDrop="@((i)=> UpdateUser(i, StatusDto.Waiting))" Class="plk-dd-dropzone h-100">
                <ChildContent>
                    <div class="card" style="border-left: 3px solid orange">
                        <div class="card-body">
                            <h6>@context</h6>
                            <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                        </div>
                    </div>
                </ChildContent>
            </Dropzone>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string RoomId { get; set; }

    [Parameter]
    public string ParticipantName { get; set; }

    public List<string> IdlingParticipants = new() { "hej", "ja" };
    public List<string> WaitingParticipants = new() { "nej", "kanske" };
    public string ActiveParticipant { get; set; }

    private bool CanMove(string user) => user.Equals(ParticipantName); //should be participant Id
    

    private void UpdateUser(string p0, StatusDto status)
    {
       //Update SignalR Clients
    }

}
