@inherits LayoutComponentBase

<div class="page">
    <main>
        <ErrorBoundary>
            <ChildContent>
                <article>
                    @Body
                </article>
            </ChildContent>
            <ErrorContent>
                <ErrorComponent/>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>