@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container pt-3">
    <LogoComponent/>
    <AuthorizeView>
        <Authorized>
            <div class="container d-flex align-items-center justify-content-center  col-sm-5 col-12 mt-4">
                <button class="profile-button" @onclick="NavigateToProfile">
                    <span></span>
                    <span></span>
                    <span></span>Profile 
                    <span></span> 
                </button>
                @*TODO: Add logout button *@
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="container d-flex align-items-center justify-content-center col-sm-5 col-12 mt-4">
                <div class="button-login button-login-1 d-flex align-items-center justify-content-center m-1" @onclick="NavigateToLogin">
                    <span class="btn-login-txt" href="login">Login</span>
                </div>
                <button class="signup-button d-flex justify-content-center m-1" @onclick="NavigateToSignup">
                    Sign up
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {

    private string _userName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var name = state.User.Claims.FirstOrDefault();
        if (name != null)
            _userName = name.Value;

    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToSignup()
    {
        NavigationManager.NavigateTo("/signup");
    }

    private void NavigateToProfile()
    {
        //TODO: Add proper link
        NavigationManager.NavigateTo("/profile");
    }

}
