@using Blazored.LocalStorage
@using Queueomatic.Client.Services.StoreVisitedRooms
@inject NavigationManager NavigationManager;
@inject HttpClient HttpClient;
@inject ILocalStorageService LocalStorageService;
@inject IUpdateVisitedRooms UpdateVisitedRooms;
@inject AuthenticationStateProvider AuthProvider;

<div class="card-block">
    <h4 class="section-text" >Recently Visited Rooms</h4>
    <div class="row">
        @if (!_visitedRooms.Any())
        {
            <div class="name">You have no recently visited room</div>
        }
        <Virtualize Items="_visitedRooms.ToArray()" Context="room">
            <a class="badge" @onclick="() => GotoRoom(room.HashId)">
                <div>
                    <div class="name">@room.Name</div>
                    <div class="hashIds">Id: @room.HashId</div>
                </div>
            </a>
        </Virtualize>
    </div>
</div>
