<LogoComponent/>
<div class="component">
    <div class="form-container">
        <p class="title">Login</p>
        <form class="form">
            <div class="input-group">
                <label for="username">Username</label>
                @* <input type="text" name="username" id="username" placeholder=""> *@
                <input type="text" name="username" placeholder="" id="input-field">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                @* <input type="password" name="password" id="password" placeholder=""> *@
                <input type="password" name="password" placeholder="" id="input-field">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password?</a>
                </div>
            </div>
            <button class="submit-button"><span>LOGIn</span></button>
            @* <button class="sign">Sign in</button> *@
        </form>
        <div class="line-container">
            <div class="line"></div>
        </div>
        <p class="signup">
            Don't have an account?
            <br/>
            <a rel="noopener noreferrer" href="signup" class="signup-a">Sign up</a>
        </p>
    </div>
</div>

@code {

}