@using Blazored.SessionStorage
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@inject ISessionStorageService SessionStorageService;

<LogoComponent/>
<AuthorizeView>
    <Authorized>
        <RedirectHome/>
    </Authorized>
</AuthorizeView>
<div class="component">
    <div class="form-container">
        <p class="title">Login</p>
        <EditForm class="form" Model="_loginDto" OnValidSubmit="Login">
            <div class="input-group">
                <label for="username">Email</label>
                <input type="email" name="username" placeholder="" class="input-field" id="username" @bind-value="_loginDto.Email" required>
                <div class="invalid-feedback">
                    Please provide your email.
                </div>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="" class="input-field" id="password" @bind-value="_loginDto.Password" required>
                <div class="invalid-feedback">
                    Please provide your password.
                </div>
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password?</a>
                </div>
            </div>
            <button class="submit-button">
                <span>LOGIN</span>
            </button>
        </EditForm>
        <div class="line-container">
            <div class="line"></div>
        </div>
        <p class="signup">
            Don't have an account?
            <br/>
            <a rel="noopener noreferrer" href="signup" class="signup-a">Sign up</a>
        </p>
    </div>
</div>